<div class="message">
  <%= image_tag "presley.jpg" , class: "avatar" %>
  <div class="message-content">Welcome on the Museek Chatroom. </div>
  <div class="message-content">Write your first message and chat with your friends! </div>
</div>
