<p>You can now create your playlist with <a href="https://soundcloud.com/" target="_blank">Soundcloud</a> or <a href="https://open.spotify.com/user/spotify" target="_blank">Spotify</a> or <a href="https://www.youtube.com/" target="_blank">Youtube</a>.</p>

<%= simple_form_for([ @playlist, @track ]) do |f| %>
            <%= f.input :name, label: "Paste the url/link of your track below :" %>
            <button type="submit" class="btn btn-primary btn-circle center-block">
              <i class="fa fa-plus-circle"></i> Add your track
            </button>
<% end %>
