<h4>You can now add tracks</h4>
<p>via <a href="https://soundcloud.com/" target="_blank">Soundcloud</a>, <a href="https://www.youtube.com/" target="_blank">Youtube</a>, <a href="https://open.spotify.com/user/spotify" target="_blank">Spotify</a> or <a href="http://www.deezer.com/fr/" target="_blank">Deezer</a> </p>

<%= simple_form_for([ @playlist, @track ]) do |f| %>
            <%= f.input :name, label: false, placeholder: "Paste the url/link of your track here" %>
            <button type="submit" class="btn btn-primary btn-circle center-block">
              <i class="fa fa-plus-circle"></i> Add your track
            </button>
<% end %>
