.messages-container {
  position: absolute;
  top: 70px;
  right: 0;
  left: 400px;
  bottom: 2em;
  padding: 0 2em;
  height: 100%;
}

.playlist {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 400px;
  border-right: 5px solid #FDFDFF;
  overflow: auto;
  z-index: 1;
  height: 100%;
}

.new-message-field {
  width: 100%;
  height: 100%;
  padding: 0 0.5em 0.1em 0.8em;
  font-size: 1em;
  font-weight: 300;
  border: 1px solid #cecece;
}
