// Specific CSS for your home-page

.subtitle {
  font-size: 45px;
}

.banner-content {
}

.banner-content h1 {
  // font-size: 50px;
  // font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: quicksand;
  font-size: 70px;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 1.15;
}

.banner-content p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: quicksand;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  font-weight: lighter;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url('https://static.pexels.com/photos/332688/pexels-photo-332688.jpeg');
  min-height: 100%;
}

.btn-home {
  border-radius: 4px;
}

/* SECOND PART OF THE HOME */


// .hashtags h2 {
//   font-weight: bold;
//   font-size: 40px;
//   font-family: quicksand;
//   margin-bottom: 20px;
// }

.block {
  padding: 30px 30px;
}

.btn-green {
  padding: 17px 48px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 16px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}

.block {
  margin-left: 20px;
  h2 {
    color: white;
    font-size: 68px;
  }
  h3 {
    color:#FFFFFF;
    font-size: 36px;
  }
  p{
    color: #000154;
    font-size: 20px;
  }
}

.cover {
  box-shadow: 0 0 0px rgba(0,0,0,0.6);
  margin: 50px 25px;
}

.container-home {
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
