.container-playlist {
  min-height: 520px;
  position: relative;
}

.btn-circle {
    font-size: 14px;
    // font-weight: bold;
    line-height: 1;
    border-radius: 30px;
    padding: 8px 5px 8px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 150px;
    text-transform: uppercase;
    white-space: normal;
}

.btn-create {
  border-radius: 5px;
  font-size: 15px;
  margin-right: 5px;
}

.btn-settings {
  border-radius: 5px;
  font-size: 15px;
  margin-left: 5px;
}

.button-actions {
  top: 20px;
  list-style: none;
  display: flex;
}

.title {
  margin: 15px 10px;
  display: flex;
  text-emphasis: bold;
  align-items: center;
}

.title-index{
  margin: 15px 10px;
  display: flex;
  text-emphasis: bold;
  align-items: center;
  justify-content: space-between;
}


.title-tag {
  margin-top: 25px;
  padding-left: 10px;
}

.title-profile {
  margin: 15px 10px;
  display: flex;
  text-emphasis: bold;
  align-items: center;
  margin-bottom: 30px;
}

.title-tag h3 {
  font-size: 20px;
  color: #8787a5;
}

.product-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.product-link:hover {
  opacity: 0.1;
}

.product-content {
  flex: 1 1 auto;
  text-align: center;
}
.product-content h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}

.product-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: #39BAE8;
}
.product-content p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
  font-size: 10px;
  max-width: 260px;
}
