<div class="footer">
  <div class="footer-links social-media">
    Find us on
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-links music-media">
    Working with
    <a href="#"><i class="fa fa-soundcloud"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-spotify"></i></a>
  </div>
  <div class="footer-copyright">
    @Museek
  </div>
</div>
