<div class="banner">
  <div class="banner-content">
      <h1>What's your team up to?</h1>
      <p class="subtitle">Your team activities. All in one place.</p>
        <a href="" class="btn-home white">Find out</a>
  </div>
</div>
