
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" style="background-image: linear-gradient(-228deg, rgba(0,123,186,0.6) 0%, rgba(0,40,77,0.6) 50%), url('https://static.pexels.com/photos/58091/pexels-photo-58091.jpeg');">
<!-- https://static.pexels.com/photos/332688/pexels-photo-332688.jpeg -->

  <div class="banner-content text-center">
      <h1>Share music. Be Happy.</h1>
      <p class="subtitle">Create your playlist via all platforms and send it to your friends.</p>
      <% if user_signed_in? %>
        <a href='<%= new_playlist_path %>' class="btn btn-green btn-success btn-home"> Add a playlist</a>
      <% else %>
        <a href='<%= new_user_session_path %>' class="btn btn-green btn-success"> Start to play</a>
      <% end %>
  </div>
</div>

<div class="hashtags">
  <div class="container-home">
    <div class="row">
      <div class="col-sm-7 col-md-5">
          <div class="block">
          <h2>What's on Museek ? </h2>
          <h3>#Experience</h3>
          <p>Build your <b>own playlist</b>  and access it whenever you want.</p>
          <h3>#Share</h3>
          <p>Invite your <b>friends</b> to listen your tracks and <b>chat</b> directly with them.</p>
          <h3>#Music</h3>
          <p>Be part of a <b>community</b> of music lovers and <b>discover</b> new tracklists.</p>
          </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1 col-md-6">
        <div class="cover">
        <%= image_tag "major.jpg", width: 550, height: 550, crop: :fill %>
        </div>
      </div>
    </div>
  </div>
</div>
