<div class="banner">
  <div class="banner-content">
      <h1>Free your Sound</h1>
      <p class="subtitle">Create your playlist. Share it with your friends.</p>
        <a href= '<%= tracks_create_path %>' class="btn btn-primary"><span class="glyphicon glyphicon-play-circle"></span> Let's play !</a>
  </div>
</div>
