<div class="banner">
  <div class="banner-content">
      <h1>Free your Sound</h1>
      <p class="subtitle">Prepare your playlist. Share with your friends.</p>
        <a href="#" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-play-circle"></span> Create your playlist</a>
  </div>
</div>
