
.banner-playlist {
  position: relative;
  color: white;
  height: 35vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.banner-top {
  position: relative;
  color: white;
  height: 12vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.banner-content-playlist {
    position: absolute;
    display: flex;
}
.banner-content-playlist h1 {
  font-size: 30px;
  letter-spacing: .25px;
  margin-bottom: 1px;
}
.banner-content-playlist p {
  font-weight: lighter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: bold;
  color: #dedee3;
}

.card-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transition-duration: .15s;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 0.5px solid;
  // right: 145px;
  top: 50px;
}
.card-info {
  // position: relative;
  // left: 80px;
  margin-top: 28px;
  margin-left: 20px;
}
