<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>My playlists</h3>

      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="http://cdn.99scenes.com/wp-content/uploads/2016/07/swedish-house-mafia.jpg" alt="kudoz" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Summer Playlist 2017</h3>
          <p>Music for partying this summer</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>

       <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://www.florfm.com/wp-content/uploads/2016/10/Christine-and-the-Queens.jpg" alt="kudoz" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Summer playlist 2017</h3>
          <p>Music for partying this summer</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>

       <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://www2.hiphopcorner.fr/wp-content/uploads/2016/05/image-s-crew-.jpg" alt="kudoz" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Summer playlist 2017</h3>
          <p>Music for partying this summer</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>



    </div>
  </div>
</div>

